.table-container {
  overflow-y: scroll;
  max-height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 500px;

  .table {
    width: 100%;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 10;

    tbody {
      tr {
        transition: ease-in background-color 0.5s;
        cursor: pointer;

        &:hover {
          background-color: #0bf387;
        }
      }
    }

    thead tr:nth-child(1) th{
      text-transform: capitalize;
      background: black;
      position: sticky;
    }
  }
}


// check
th {
  white-space: nowrap;
  min-width: 100px;
  max-width: 110px;
}
